{
    "presets": [
        "react",
        "stage-1",
        "es2015"
    ],
    "plugins":[
        "babel-plugin-transform-class-properties"
    ],
    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}